@import url(global.css);
@import url(utilities.css);
@import url(components.css);
@import url(sections.css);
@import url(layout.css);


header {
  display: flex;
  align-items: center;
  padding: 32px;

  a {
    font: var(--font-logo);
    color: var(--text-color-primary);
  }

  nav {
    margin-left: auto;

    ul {
      display: flex;
      gap: 1.875rem;
      align-items: center;

      li {
        list-style-type: none;

        a {
          font: var(--font-paragraph);
        }

        a:not(div.button *) {
          font: var(--font-paragraph);
          color: var(--text-color-secondary);

          &:hover {
            background-image: var(--brand-gradient);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
          }
        }
      }
    }
  }
}