.button {
  font: var(--font-paragraph-desktop);
  background-color: var(--text-color-primary);
  padding: 16px 32px;
  color: var(--surface-color);
  border-radius: 10px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--brand-gradient);
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    span {
      color: var(--surface-color);
      position: relative;
      z-index: 2;
    }

  }

}